@mixin errorMsg ($color, $top, $right, $bottom, $left, $width) {
  color: $color;
  margin: $top $right $bottom $left;
  width: $width;
}

@mixin formWrappers ($bRadius, $minHeight, $marginTop, $textAlign, $width) {
  border-radius: $bRadius;
  min-height: $minHeight;
  margin-top: $marginTop;
  text-align: $textAlign;
  width: $width;
  border-radius: 3px;
}
* {
  box-sizing: border-box;
}
body {
    box-sizing: border-box;

.navbar {
  box-shadow: 0px 0px 2px -1px;
  // margin: 0;

  .navbar-header {
    .navbar-brand {
      float: left;
      font-size: 18px;
      line-height: 20px;
      height: 63px;
      padding: 15px;
    }

    .hidden {
      display: none;
    }
  }

  .navbar-right {
    padding: 7px 35px;

    .employee-profile {
      padding: 0 15px;
      .profile-img {
        border-radius: 5px;
      }
      .employee-name {
        font-size: 18px;
        padding: 0px 10px;
      }
      span {
        vertical-align: middle;
      }
    }
  }

  .navbar-brand-text{
    position: absolute;
    left: 43vw;
    font-size: 25px;
    padding: 15px 15px;
  }

}

.select-error{
  border: 2px solid #e4655c;
  border-radius: 7px;
}

#my-form {
  .react-datepicker-wrapper {
    width: 100%;
    .react-datepicker__input-container {
      width: 100%;
    }
  }
  .react-datepicker__month-container {
    width: 250px;
    font-size: 15px;
  }
  .react-datepicker__current-month {
    font-weight: 500;
    font-size: 15px;
  }
  .react-datepicker__day-name {
    margin: 6px;
  }
  .react-datepicker__month {
    .react-datepicker__week {
      .react-datepicker__day {
        margin: 6px;
      }
    }
  }
  .validation-error {
      color: #e4655c;
      font-size: 17px;
      padding-top: 15px;
  }
}
.child-comp {
  min-height: 525px;
  margin: 70px 0px 20px 0px;

  .spinner1, .spinner {
    font-size: 25px;
    margin: 200px 180px;
    min-height: 250px;
    text-align: center;
  }
  .current-month {
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .login-form-wrapper {
      @include formWrappers(3px, 280px, 130px, center, 100%);
      box-shadow: 2px 2px 10px 2px grey;

      p {
        box-shadow: 2px 2px 1px grey;
        font-size: 25px;
        margin-bottom: 20px;
        padding: 15px;
      }

      label {
        padding-right: 20px;
        text-align: left;
        width: 30%;
      }

      .input-field {
        display: inline-block;
        width: 55%;
      }
      .button-wrapper {
        margin: 0 0 0 32%;
        .btn {
          margin-bottom: 10px;
        }
      }
      .error-msg {
          @include errorMsg(#e4655c, 0, 25px, 0px, 0, 55%);
      }
      .validation-error {
          color: #e4655c;
          font-size: 17px;
          padding-bottom: 15px;
      }
      .btn {
        outline: none;
      }
  }

  .resetPassword-form-wrapper {
    @include formWrappers(3px, 300px, 100px, center, 100%);
    box-shadow: 2px 2px 10px 2px grey;

    p {
      box-shadow: 2px 2px 1px grey;
      font-size: 25px;
      margin-bottom: 30px;
      padding: 20px;
    }

    label {
      padding-right: 15px;
      text-align: left;
      width: 40%;
    }

    .input-field {
      display: inline-block;
      width: 53%;
    }

    .error-msg {
      @include errorMsg(#e4655c, 0, 25px, -5px, 0, 49%);
    }
    .btn {
      margin-bottom: 30px;
    }
  }

  .no-data-available {
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px;
    font-size: 25px;
    padding: 50px;
  }
  .graph-view {
    overflow-y: auto;
  }
  .timesheet-container {
      // min-height: 83vh;

      .date-string {
        width: 11%;
      }

      .working-hours, .index {
        width: 10%;
      }

      .working-total-hours {
        width: 9%;
      }

      .emp-name {
        width: 30%;
      }
      table a {
        cursor: pointer;
      }
  }

  .filter-wrapper {

      .form-group {
          .error-msg {
            color: #e4655c;
            text-align: left;
          }
      }
      .btn {
        outline-style: none;
        width: 100%;
      }
      .notification-status {
        display: inline-block;
        margin: 0px 28px 25px 4px;
        vertical-align: middle;
        font-size: 18px;
      }

  }
  .active {
    color: #80d66a;
    cursor: pointer;
  }
  .inactive {
    color: #e4655c;
    cursor: pointer;
  }

}

.popover-title {
  font-size: 16px;
  text-align: center;
}

.has-error {
  .control-label {
    color: #000000;
  }

  .form-control {
    border: 2px solid #e4655c;
  }

}

.bar-chart {
  text-align: center;
}

a {
  cursor: pointer;
}

.footer {
    background-color: #F8F8F8;
    box-shadow: 0px 0px 2px -1px;
    font-size: 20px;
    height: 64px;
    margin: 0 -15px;
    padding-top: 20px;
 }
}
@media screen and (max-width: 767px){
  .navbar {
    .navbar-brand-text{
      display: none;
    }
  }
  .timesheet-container {
    margin-top: 20px;
  }
  .current-month {
    text-align: center;
  }
  .user-tooltip {
    display: none;
  }
  .filter-wrapper {
    padding: 20px;
  }
  #my-form {
    .form-control {
      width: auto;
    }
  }
}

@media screen and (max-width: 1023px){
  .navbar {
    .navbar-brand-text{
      display: none;
    }
  }
  .timesheet-container {
    margin-top: 20px;
  }

  // .timesheet-container, .spinner, .graph-view {
  //   margin-left: 16%;
  //   padding-left: 40px;
  // }

  .current-month {
    text-align: center;
  }
  .filter-wrapper {
    padding: 50px 15px 20px 15px;
  }
}

@media screen and (min-width: 1024px) {
  .filter-wrapper {
    height: 100%;
    left: 10px;
    overflow-x: hidden;
    position: fixed;
    top: 65px;
    width: 17%;
  }

  .child-comp {
    .timesheet-container, .spinner, .graph-view {
      margin-left: 16%;
      padding-left: 40px;
    }

    .no-data-available {
      margin: 90px 100px 90px 425px;
      padding: 50px;
      width: 50%;
    }
    .filter-wrapper {
      padding: 63px 5px 20px 5px;
    }
  }
}
@media screen and (min-height: 700px) {
  body {
    .child-comp {
      min-height: 545px;
    }
  }
}
