* {
  box-sizing: border-box;
}

.navbar {
  border: none;
  margin: 0;

  .navbar-header {
    .navbar-brand {
      float: left;
      font-size: 18px;
      line-height: 20px;
      height: 63px;
      padding: 15px;
    }
  }
  .employee-profile {
    padding: 0 15px;
    .profile-img {
      border-radius: 5px;
    }
    .employee-name {
      font-size: 18px;
      padding: 0px 10px;
    }
    span {
      vertical-align: middle;
    }
  }

  .nav {
    padding: 7px;
  }

  a {
      cursor: pointer;
  }

  .navbar-brand-text{
    position: absolute;
    left: 520px;
    font-size: 25px;
    padding: 15px 15px;
  }

}
.child-comp {
  min-height: 557px;
  margin: 0px;
  .current-month {
      font-size: 25px;
      margin: 20px 0;
  }
  .login-form-wrapper {
      border-radius: 3px;
      box-shadow: 2px 2px 10px 2px grey;
      height: 300px;
      margin-top: 130px;
      padding: 20px 0;
      text-align: center;
      width: 100%;

      p {
        box-shadow: 2px 2px 1px grey;
        font-size: 25px;
        margin-bottom: 30px;
        padding-bottom: 17px;
      }

      label {
        padding-right: 20px;
        text-align: left;
        width: 30%;
      }

      .input-field {
        display: inline-block;
        width: 55%;
      }
  }

  .resetPassword-form-wrapper {
    border-radius: 3px;
    box-shadow: 2px 2px 10px 2px grey;
    height: 300px;
    margin-top: 100px;
    padding: 20px 0;
    text-align: center;
    width: 100%;

    p {
      box-shadow: 2px 2px 1px grey;
      font-size: 25px;
      margin-bottom: 30px;
      padding-bottom: 17px;
    }

    label {
      padding-right: 20px;
      text-align: left;
      width: 38%;
    }

    .input-field {
      display: inline-block;
      width: 42%;
    }
  }

  .timesheet-container {
      min-height: 500px;

      .date-string {
        width: 9%;
      }

      .working-hours {
        width: 7%;
      }

      .working-total-hours {
        width: 8%;
      }

      .status {
        width:50%;
      }
  }
  .filter-wrapper {
      margin: 20px 0;
      text-align: center;

      .select-year, .select-month {
          padding-right: 20px;
      }
  }
}

footer {
    background-color: #F8F8F8;
    font-size: 20px;
    height: 64px;
    margin: 0;
    text-align: center;
    padding-top: 25px;
 }

@media screen and (min-width: 768px) and (max-width: 1023px){
  .navbar {
    .navbar-brand-text{
      left: 305px;
    }
  }
}
