@mixin errorMsg ($color, $top, $right, $bottom, $left, $width) {
  color: $color;
  margin: $top $right $bottom $left;
  width: $width;
}

@mixin formWrappers ($bRadius, $minHeight, $marginTop, $textAlign, $width) {
  border-radius: $bRadius;
  min-height: $minHeight;
  margin-top: $marginTop;
  text-align: $textAlign;
  width: $width;
  border-radius: 3px;
}

* {
    box-sizing: border-box;
  }

.navbar {
  border: none;
  margin: 0;

  .navbar-header {
    .navbar-brand {
      float: left;
      font-size: 18px;
      line-height: 20px;
      height: 63px;
      padding: 15px;
    }
  }
  .employee-profile {
    padding: 0 15px;
    .profile-img {
      border-radius: 5px;
    }
    .employee-name {
      font-size: 18px;
      padding: 0px 10px;
    }
    span {
      vertical-align: middle;
    }
  }

  .nav {
    padding: 7px;
  }

  a {
    cursor: pointer;
  }

  .navbar-brand-text{
    position: absolute;
    left: 43vw;
    font-size: 25px;
    padding: 15px 15px;
  }

}
.child-comp {
  min-height: 78vh;
  margin: 70px 0px 20px 0px;

  .spinner {
    font-size: 25px;
    margin: 150px auto;
    min-height: 575px;
    text-align: center;
  }
  .current-month {
      font-size: 25px;
      margin: 20px 0;
  }
  .login-form-wrapper {
      @include formWrappers(3px, 280px, 130px, center, 100%);
      box-shadow: 2px 2px 10px 2px grey;

      p {
        box-shadow: 2px 2px 1px grey;
        font-size: 25px;
        margin-bottom: 20px;
        padding: 15px;
      }

      label {
        padding-right: 20px;
        text-align: left;
        width: 30%;
      }

      .input-field {
        display: inline-block;
        width: 55%;
      }
      .button-wrapper {
        margin: 0 0 0 32%;
        .btn {
          margin-bottom: 10px;
        }
      }
      .error-msg {
          @include errorMsg(#e4655c, 0, 25px, 0px, 0, 55%);
      }
      .validation-error {
          color: #e4655c;
          font-size: 17px;
          padding-bottom: 15px;
      }
      .btn {
        outline: none;
      }
  }

  .resetPassword-form-wrapper {
    @include formWrappers(3px, 300px, 100px, center, 100%);
    box-shadow: 2px 2px 10px 2px grey;

    p {
      box-shadow: 2px 2px 1px grey;
      font-size: 25px;
      margin-bottom: 30px;
      padding: 20px;
    }

    label {
      padding-right: 15px;
      text-align: left;
      width: 40%;
    }

    .input-field {
      display: inline-block;
      width: 53%;
    }

    .error-msg {
        @include errorMsg(#e4655c, 0, 25px, -5px, 0, 49%);
    }
    .btn {
      margin-bottom: 30px;
    }

  }
  .no-data-available {
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px grey;
    font-size: 20px;
    margin-top: 50px;
    padding: 20px;
  }
  .timesheet-container {
      min-height: 500px;

      .date-string {
        width: 9%;
      }

      .working-hours {
        width: 7%;
      }

      .working-total-hours {
        width: 8%;
      }
  }
  .filter-wrapper {
      margin: 20px 0;
      text-align: center;

      .form-group {
          padding-right: 25px;

          .error-msg {
            color: #e4655c;
            text-align: left;
          }
      }
  }
  .employee {
    min-width: 12vw;
  }
}

.popover-title {
  font-size: 16px;
  text-align: center;
}

.has-error {
  .control-label {
    color: #000000;
  }

  .form-control {
    border: 2px solid #e4655c;
  }

}
.custom-modal {
  width: 90vw;
}

.bar-chart {
  text-align: center;
}

footer {
    background-color: #F8F8F8;
    font-size: 20px;
    height: 64px;
    margin: 0;
    padding-top: 20px;
    width: 100vw;
 }

@media screen and (max-width: 767px){
  .navbar {
    .navbar-brand-text{
      display: none;
    }
  }
}
